<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 1</title>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Play:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/home.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/home.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">

        <img id="title" src="http://i.imgur.com/7UiXJgW.png?1" alt="" />
        <a id="nextPage" href="http://localhost:9292/jaco_says"><img id="jaco" src="https://farm1.staticflickr.com/44/137314837_be55135f7e_o.jpg"
          alt="" /></a>
      </div>
      <br>
      <div id="left">
        <div class="colorBars" id="one"></div>
        <div class="colorBars" id="two"></div>
        <div class="colorBars" id="three"></div>
        <div class="colorBars" id="four"></div>
        <div class="colorBars" id="five"></div>
        <div class="colorBars" id="six"></div>
        <div class="colorBars" id="seven"></div>
        <div class="colorBars" id="eight"></div>
      </div>
      <div id="centerText">Click Jaco, or hit Enter to get started!</div>


    </div>
  </body>
</html>
