<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 1 Live</title>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Play:700' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
      <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
