body, html {
  width: 100%;
  height: 100%;*/
  /*background: linear-gradient(30.68207deg, #d6f50f 1.25%, #a89e43 27.639%, #4b78a3 63.403%, #a6ff70 96.042%);*/
  }

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(30.68207deg, #d6f50f 1.25%, #a89e43 27.639%, #4b78a3 63.403%, #a6ff70 96.042%);
  position: fixed;
 top: 0;
 left: 0;
 }

#header {
  width: auto;
  height: 175px;
  background-color: black;
  /*margin: -20px;*/
  text-align: center;
  color: white;
  /*position: absolute;*/
  top: 0;
  left: 0;}

#title {
  padding: 25px;
  height: 160px; }

#jaco {
  height: 120px;
  margin-bottom: 50px;

}

  #left {
    width: 18%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }

  #centerText {
    /*margin: auto;*/
    text-align: center;
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 20px;
    padding-top: 2%;
    height: 55px;
    width: 60%;
    border-radius: 10px;
    background-color: black;
    color: #5c7a78;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
  }

  .colorBars {
    height: 500px;
    width: 10%;
    margin-top: 175px;
    display: inline-block;
    background-color: white;
  }

  #one {
    background-color: rgb(61, 0, 77);
  }

  #two {
    background-color: rgb(78, 15, 94);
  }

  #three {
    background-color: rgb(94, 25, 111);
  }

  #four {
    background-color: rgb(114, 40, 133);
  }

  #five {
    background-color: rgb(134, 58, 153);
  }

  #six {
    background-color: rgb(154, 78, 173);
  }

  #seven {
    background-color: rgb(180, 110, 198);
  }

  #eight {
    background-color: rgb(204, 147, 219);
  }

  #gameBox {
    border: 4px solid black;
  border-radius: 30px;
  height: 500px;
  width: 60%;
  display: block;
  margin-top: 10px;
  margin-bottom: 5%;
  margin-right:15%;
  margin-left:25%;
  text-align: center;
  background: black;
  }

  .pad {
  margin: 10px;
  height: 50%;
  width: 25%;
  border-radius: 10px;
  /*background: rgb(26, 84, 22);*/
  display: inline-block;
}
#inside {
  margin-top: 12%;
  height:300px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background: black;
  border-radius: 10px;
  border: 2px solid rgb(200, 210, 8);
}

.row {
  height: 30%;
  width: auto;
}
#pad1 {
  background-color: rgb(86, 153, 82);
}

#pad2 {
  background-color: rgb(62, 126, 59);
}

#pad3 {
  background-color: rgb(46, 107, 43);
}

#pad4 {
  background-color: rgb(32, 87, 29);
}

#pad5 {
  background-color: rgb(24, 73, 21);
}

#pad6 {
  background-color: rgb(17, 62, 15);
}

#pad7 {
  background-color: rgb(11, 50, 9);
}

#pad8 {
  background-color: rgb(6, 38, 4);
}

#pad9 {
  background-color: rgb(2, 26, 1);
}
